@model CobanlarMarket.Models.AllViewModel
@{
    ViewBag.Title = "ConfirmForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
    .form-control {
        width: 100%;
    }

    .form-group button {
        width: 100%;
    }

    .ajax-form {
        width: 400px;
    }

    .password-container {
        position: relative;
    }



    .showHidePassword {
        position: absolute;
        font-size: 20px;
        right: 10px;
        top: 20%;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
    }

        .showHidePassword.active {
            color: red;
            transform: rotate(180deg);
        }
</style>

<section class="account-page">
    <div class="container">


        <div class="account-wrapper">
            <div class="account-column d-flex justify-content-center">





                <form id="passwordForm">



                    @Html.AntiForgeryToken()

                    <div class="form-row row">
                        <h2>Şifre Sıfırla</h2>
                    </div>

                    <div class="form-group">
                        <label>
                            <span>Şifre <span class="required">*</span></span>
                        </label>
                        <div class="password-container">
                            <input type="password"
                                   placeholder="Şifre" id="password" />
                            <i class="mdi mdi-eye showHidePassword" aria-hidden="true" id="showHidePassword"></i>
                        </div>



                    </div>

                    <div class="form-group">
                        <label>
                            <span>Şifre Tekrar <span class="required">*</span></span>
                        </label>
                        <div class="password-container">
                            <input type="password"
                                   placeholder="Şifre Tekrar" id="confirmpassword" />
                            <i class="mdi mdi-eye showHidePassword" aria-hidden="true" id="showHidePasswordd"></i>
                        </div>




                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-red">Onayla</button>
                    </div>


                </form>

            </div>





        </div>
    </div>
</section>


<script>

    $('#passwordForm').submit(function (e) {

        e.preventDefault();
        var password = $('#password').val();
        var confirmpassword = $('#confirmpassword').val();

        var token = $('#passwordForm input[name="__RequestVerificationToken"]').val();



        var formData = new FormData();

        formData.append('password', password);
        formData.append('confirmPassword', confirmpassword);

        formData.append("__RequestVerificationToken", token);


        if ($('#passwordForm').valid()) {

            console.log("valid");
            $.ajax({
                url: '/Home/ResetPassword/',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {

                    if (!result.success) {
                        toastr.error(result.message);
                        if (result.redirectUrl != null) {
                            setTimeout(() => {
                                window.location.href = result.redirectUrl;
                            }, 2000);
                        }
                    } else {
                        toastr.success(result.message);

                        setTimeout(() => {
                            window.location.href = result.redirectUrl;
                        }, 2000);

                    }

                },
                error: function (error) {
                    console.error(error);
                }





            });
        }



    });

    
    $(document).on('click', '.showHidePassword', function () {
        const passwordField = $(this).prev('input[type="password"], input[type="text"]');

        if (passwordField.length) {
            const fieldType = passwordField.attr('type') === 'password' ? 'text' : 'password';
            passwordField.attr('type', fieldType);

            $(this).toggleClass('mdi-eye mdi-eye-off active');
        }
    });


</script>