@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<link href="~/Content/css/main.css" rel="stylesheet" />

<body cz-shortcut-listen="true">
    <div id="root">
        <div>
            <div class="main-layout">
                <div class="modal-dialog ">
                    <div class=" modal-content">
                        :<button class="modal-close"><i class="bi bi-x"></i></button>
                        <div class="modal-image"><img src="/img/modal-dialog.jpg" alt=""></div>
                        <div class="popup-wrapper">
                            <div class="popup-content">
                                <div class="popup-title">
                                    <h3>YENİ ÜRÜNLER</h3>
                                </div>
                                <p class="popup-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum,
                                    voluptates.
                                </p>
                                <form class="popup-form">
                                    <input type="text"
                                           placeholder="Enter Email Adress Here"><button class="btn btn-lg btn-red">
                                        ABONE
                                        OL
                                    </button><label>
                                        <input type="checkbox"><span>
                                            Lorem ipsum dolor
                                            sit.
                                        </span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-overlay"></div>
                </div>
            
                <section class="contact">
                    <div class="contact-top">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4138.033574163952!2d39.60857053822573!3d40.812830255354626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40644f8bd47cceeb%3A0x72960f1b3681bed2!2s%C3%87obanlar%20Market!5e0!3m2!1str!2str!4v1705250407230!5m2!1str!2str"
                                    width="100%" height="500" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                    style="border: 0px;"></iframe>
                        </div>
                    </div>
                    <div class="contact-bottom">
                        <div class="container">
                            <div class="contact-titles">
                                <h4>Contact with us</h4>
                                <h2>Get In Touch</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quisquam voluptatibus
                                    impedit doloribus fugit voluptatum!
                                </p>
                            </div>
                            <div class="contact-elements">
                                <form class="contact-form">
                                    <div class="">
                                        <label>Your Name<span>*</span></label><input type="text" required="">
                                    </div>
                                    <div class="">
                                        <label>Your email<span>*</span></label><input type="text" required="">
                                    </div>
                                    <div class="">
                                        <label>Subjeckt<span>*</span></label><input type="text" required="">
                                    </div>
                                    <div class="">
                                        <label>Your massage<span>*</span></label><textarea name="author"
                                                                                           id="author" cols="30"></textarea>
                                    </div><button class="btn btn-red">
                                        Send
                                        Message
                                    </button>
                                </form>
                                <div class="contact-info">
                                    <div class="contact-info-item">
                                        <div class="contact-info-texts">
                                            <strong>Clotya Store</strong>
                                            <p class="contact-street">
                                                Çobanlar Şarküteri Türkiye - 785 15h Street ,
                                                Office 478/B Green Mall Berlin, De 81125
                                            </p><a href="tel:Phone: +1 1234 567 88">Phone: +1 1234 567 88</a><a href="mailto:Email: contact@gmail.com">Email: contact@gmail.com</a>
                                        </div>
                                    </div>
                                    <div class="contact-info-item">
                                        <div class="contact-info-texts">
                                            <strong>Opwningg</strong>
                                            <p class="contact-date">Monday - Friday : 9am -5pm</p>
                                            <p>Haftasonu Kapaliyiz</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
           
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.jsx"></script>


</body>