@model CobanlarMarket.Models.AllViewModel

@{
    ViewBag.Title = "Gizlilik Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .containerr {
        display: grid;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

        .containerr h2 {
            text-align: center;
        }
</style>

<div class="containerr container">
    <h2>Gizlilik Politikası</h2>

    <p>
        Çobanlar Market, müşterilerine daha iyi hizmet verebilmek amacıyla bazı kişisel bilgilerinizi
        (isim, yaş, ilgi alanlarınız, e-posta vb.) sizlerden talep etmektedir. Çobanlar Market’e ait
        sunucularda toplanan bu bilgiler, dönemsel kampanya çalışmaları, müşteri profillerine yönelik
        özel promosyon faaliyetlerinin kurgulanması ve istenmeyen e-postaların iletilmemesine yönelik
        müşteri "sınıflandırma” çalışmalarında sadece Çobanlar Market bünyesinde kullanılmaktadır.
        Çobanlar Market üyelik formlarından topladığı bilgileri söz konusu üyenin haberi ya da aksi bir
        talimatı olmaksızın, üçüncü şahıslarla kesinlikle paylaşmamakta, faaliyet dışı hiçbir nedenle
        ticari amaçla kullanmamakta ve de satmamaktadır.
    </p>
    <p>
        Çobanlar Market, e-posta adresleri ve üyelik formlarında istediği kişisel bilgilerin haricinde
        <a href="http://www.cobanlarmarket.com">www.cobanlarmarket.com</a> adresli site kullanımı sırasında
        izlediği ziyaretçi hareket ve tercihlerini analiz ederek yorumlamaktadır. Kişisel bilgiler
        içermeyen bu istatistiksel veriler, daha özel ve etkin bir alışveriş deneyimi yaşatmak amacıyla
        Çobanlar Market iş ortakları ile paylaşılabilmektedir.
    </p>
    <p>
        Müşteri bilgileri, ancak bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat
        hükümleri gereğince paylaşılması zorunlu olan durumlarda sadece resmi makamlara açıklanabilecektir.
        Müşterinin sisteme girdiği tüm bilgilere sadece müşteri ulaşabilmekte ve bu bilgileri sadece müşteri
        değiştirebilmektedir. Bir başkasının bu bilgilere ulaşması ve bunları değiştirmesi mümkün değildir.
    </p>
    <p>
        Çobanlar Market tarafından gönderilen maillerin alt veya üst kısmında bulunan "Mail listemizden
        ayrılmak istiyorsanız, şu linki kullanınız" linkine tıklayarak, ya da site üzerinden "Hesabım"
        bölümünde "Üyelik Bilgileri Güncelleme" alanında "Reklam ve duyuru e-postalarını almak istiyorum"
        seçeneğini boş bırakarak mail gönderim listesinden kolayca çıkabilirsiniz.
    </p>
    <p>
        Mevzuat çerçevesinde müşterilerin verilerinin nasıl kullanıldığına ilişkin bilgi talep etmek, varsa
        yanlış verilerin düzeltilmesini istemek, elde edilmiş verilerin silinmesini veya yok edilmesini
        istemek, işlemeye itiraz etmek ve varsa uğradığı zararın giderilmesini talep etmek hakları
        bulunmaktadır. Çobanlar Market, müşterinin verilerinin işlenmesini gerektiren sebeplerin ortadan
        kalkması halinde verileri sileceğini, yok edeceğini veya anonim hale getireceğini beyan eder.
    </p>
    <p>
        Ödeme sayfasında istenen kredi kartı bilgileriniz, siteden alışveriş yapan siz değerli
        müşterilerimizin güvenliğini en üst seviyede tutmak amacıyla hiçbir şekilde Çobanlar Market veya
        ona hizmet veren diğer şirketlerin sunucularında tutulmamaktadır. Bu şekilde ödemeye yönelik tüm
        işlemlerin Çobanlar Market arayüzü üzerinden banka ve bilgisayarınız arasında gerçekleşmesi
        sağlanmaktadır.
    </p>
</div>