@model CobanlarMarket.Models.AllViewModel

@{
    ViewBag.Title = "KVKK Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
    .containerr {
        display: grid;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

        .containerr h2 {
            text-align: center;
        }
</style>

<div class="containerr container">
    <h2>KVKK Politikası</h2>

    <p><strong>Ama&ccedil;</strong></p>
    <p><strong>MADDE 1-&nbsp;</strong>(1) Bu Y&ouml;netmeliğin amacı,&nbsp;24/3/2016&nbsp;tarihli ve 6698 sayılı Kişisel Verilerin Korunması Kanununun kişisel verilerin yurt dışına aktarılmasını d&uuml;zenleyen 9 uncu maddesinin uygulanmasına ilişkin usul ve esasları belirlemektir.</p>
    <p><strong>Kapsam</strong></p>
    <p><strong>MADDE 2-&nbsp;</strong>(1) Bu Y&ouml;netmelik h&uuml;k&uuml;mleri, 6698 sayılı Kanunun 9 uncu maddesi uyarınca ger&ccedil;ekleştirilecek yurt dışına kişisel veri aktarımına taraf veri sorumluları ve veri işleyenler hakkında uygulanır.</p>
    <p><strong>Dayanak</strong></p>
    <p><strong>MADDE 3-&nbsp;</strong>(1) Bu Y&ouml;netmelik, 6698 sayılı Kanunun 9 uncu maddesinin on birinci fıkrası ile 22&nbsp;nci&nbsp;maddesinin birinci fıkrasının (e) bendine dayanılarak hazırlanmıştır.</p>
    <p><strong>Tanımlar</strong></p>
    <p><strong>MADDE 4-&nbsp;</strong>(1) Bu Y&ouml;netmeliğin uygulanmasında;</p>
    <ol>
        <li>a) Başkan: Kişisel Verileri Koruma Kurumu Başkanını,</li>
        <li>b) İlgili kişi: Kişisel verisi işlenen ger&ccedil;ek kişiyi,</li>
        <li>c) Kanun:&nbsp;24/3/2016&nbsp;tarihli ve 6698 sayılı Kişisel Verilerin Korunması Kanununu,</li>
    </ol>
    <p>&ccedil;) Kişisel veri: Kimliği belirli veya belirlenebilir ger&ccedil;ek kişiye ilişkin her t&uuml;rl&uuml; bilgiyi,</p>
    <ol>
        <li>d) Kişisel verilerin işlenmesi: Kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin par&ccedil;ası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi, depolanması, muhafaza edilmesi, değiştirilmesi, yeniden d&uuml;zenlenmesi, a&ccedil;ıklanması, aktarılması, devralınması, elde edilebilir h&acirc;le getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi veriler &uuml;zerinde ger&ccedil;ekleştirilen her t&uuml;rl&uuml; işlemi,</li>
        <li>e) Kişisel verilerin yurt dışına aktarılması: Kişisel verilerin 6698 sayılı Kanun kapsamındaki bir veri sorumlusu veya veri işleyen tarafından yurt dışındaki bir veri sorumlusu veya veri işleyene iletilmesi ya da başka bir suretle erişilebilir h&acirc;le getirilmesini,</li>
        <li>f) Kurul: Kişisel Verileri Koruma Kurulunu,</li>
        <li>g) Kurum: Kişisel Verileri Koruma Kurumunu,</li>
    </ol>
    <p>ğ) Veri aktaran: Kişisel verileri yurt dışına aktaran veri sorumlusu veya veri işleyeni,</p>
    <ol>
        <li>h) Veri alıcısı: Veri aktarandan kişisel verileri alan yurt dışındaki veri sorumlusu veya veri işleyeni,</li>
    </ol>
    <p>ı) Veri işleyen: Veri sorumlusunun verdiği yetkiye dayanarak onun adına kişisel verileri işleyen ger&ccedil;ek veya t&uuml;zel kişiyi,</p>
    <ol>
        <li>i) Veri sorumlusu: Kişisel verilerin işleme ama&ccedil;larını ve vasıtalarını belirleyen, veri kayıt sisteminin kurulmasından ve y&ouml;netilmesinden sorumlu olan ger&ccedil;ek veya t&uuml;zel kişiyi,</li>
    </ol>
    <p>ifade&nbsp;eder.</p>
    <p>(2) Bu Y&ouml;netmelikte yer almayan tanımlar bakımından Kanun ve ilgili mevzuatında yer alan tanımlar esastır.</p>
    <p><strong>Genel H&uuml;k&uuml;mler</strong></p>
    <p><strong>Kişisel verilerin yurt dışına aktarılması</strong></p>
    <p><strong>MADDE 5-&nbsp;</strong>(1) Kişisel veriler, veri sorumlusu ve veri işleyen tarafından ancak Kanunda ve bu Y&ouml;netmelikte &ouml;ng&ouml;r&uuml;len usul ve esaslara uygun olarak yurt dışına aktarılabilir. Kişisel verilerin veri işleyen tarafından aktarılması h&acirc;linde ayrıca veri sorumlusunun talimatlarına da uyulması zorunludur.</p>
    <p>(2) Birinci fıkra h&uuml;km&uuml;, yurt dışına aktarılan kişisel verilerin sonraki aktarımları ve uluslararası kuruluşlara aktarımlar bakımından da uygulanır.</p>
    <p>(3) Kişisel verilerin yurt dışına aktarılmasına ilişkin diğer kanunlarda yer alan h&uuml;k&uuml;mler saklıdır.</p>
    <p><strong>Kişisel verilerin yurt dışına aktarılma usulleri</strong></p>
    <p><strong>MADDE 6-&nbsp;</strong>(1) Kişisel veriler, Kanunun 5 inci ve 6&nbsp;ncı&nbsp;maddelerinde belirtilen şartlardan birinin varlığı ve aşağıda belirtilen h&acirc;llerden birinin ger&ccedil;ekleşmesi durumunda veri sorumluları ve veri işleyenler tarafından yurt dışına aktarılabilir:</p>
    <ol>
        <li>a) Aktarımın yapılacağı &uuml;lke, &uuml;lke i&ccedil;erisindeki sekt&ouml;rler veya uluslararası kuruluşlar hakkında yeterlilik kararı bulunması.</li>
        <li>b) Yeterlilik kararının bulunmaması durumunda, ilgili kişinin aktarımın yapılacağı &uuml;lkede de haklarını kullanma ve etkili kanun yollarına başvurma imk&acirc;nının bulunması kaydıyla, 10 uncu maddede belirtilen uygun g&uuml;vencelerden birinin taraflarca sağlanması.</li>
    </ol>
    <p>(2) Yeterlilik kararının bulunmaması ve 10 uncu maddede belirtilen uygun g&uuml;vencelerden birinin taraflarca sağlanamaması durumunda kişisel veriler, arızi olmak kaydıyla sadece 16&nbsp;ncı&nbsp;maddede belirtilen istisnai h&acirc;llerden birinin varlığı h&acirc;linde veri sorumluları ve veri işleyenler tarafından yurt dışına aktarılabilir.</p>
    <p>(3) Kişisel veriler, uluslararası s&ouml;zleşme h&uuml;k&uuml;mleri saklı kalmak &uuml;zere, T&uuml;rkiye&rsquo;nin veya ilgili kişinin menfaatinin ciddi bir şekilde zarar g&ouml;receği durumlarda, ancak ilgili kamu kurum veya kuruluşunun g&ouml;r&uuml;ş&uuml; alınarak Kurulun izniyle yurt dışına aktarılabilir.</p>
    <p><strong>Kişisel verilerin veri işleyen tarafından yurt dışına aktarılması</strong></p>
    <p><strong>MADDE 7-&nbsp;</strong>(1) Kişisel verilerin veri işleyen tarafından yurt dışına aktarılması h&acirc;linde veri işleyen; veri sorumlusu tarafından belirlenmiş ama&ccedil; ve kapsam &ccedil;er&ccedil;evesinde, veri sorumlusu adına ve onun verdiği talimatlara uygun olarak hareket eder. Veri işleyen; kişisel verilerin hukuka aykırı olarak işlenmesini &ouml;nlemek, kişisel verilere hukuka aykırı olarak erişilmesini &ouml;nlemek ve kişisel verilerin muhafazasını sağlamak amacıyla kişisel verinin niteliğine g&ouml;re uygun g&uuml;venlik d&uuml;zeyini temin etmeye y&ouml;nelik gerekli her t&uuml;rl&uuml; teknik ve idari tedbirleri alır.</p>
    <p>(2) Kişisel verilerin veri işleyen tarafından yurt dışına aktarılması, Kanunda ve bu Y&ouml;netmelikte &ouml;ng&ouml;r&uuml;len usul ve esaslara uyulması ile g&uuml;vencelerin sağlanması hususunda veri sorumlusunun sorumluluğunu ortadan kaldırmaz. Veri sorumlusu, birinci fıkrada belirtilen teknik ve idari tedbirlerin veri işleyen tarafından alınmasını sağlamakla y&uuml;k&uuml;ml&uuml;d&uuml;r.</p>
    <p>(3) Veri işleyenin, 14 &uuml;nc&uuml; maddenin beşinci fıkrası uyarınca standart s&ouml;zleşmeyi bildirmekle y&uuml;k&uuml;ml&uuml; olması h&acirc;linde veri işleyen veri sorumlusunun talimatına gerek duymaksızın bildirim y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml; yerine getirir.</p>
    <p><strong>Yeterlilik Kararına Dayalı Aktarımlar</strong></p>
    <p><strong>Yeterlilik kararı</strong></p>
    <p><strong>MADDE 8-&nbsp;</strong>(1) Kurul, kişisel verilerin yurt dışına aktarımı ile ilgili olarak bir &uuml;lkenin, &uuml;lke i&ccedil;erisindeki bir veya daha fazla sekt&ouml;r&uuml;n ya da bir uluslararası kuruluşun yeterli d&uuml;zeyde koruma sağladığına karar verebilir. Yeterlilik kararı verilirken &ouml;ncelikle aşağıdaki hususlar dikkate alınır:</p>
    <ol>
        <li>a) Kişisel verilerin aktarılacağı &uuml;lke, &uuml;lke i&ccedil;erisindeki sekt&ouml;rler veya uluslararası kuruluşlar ile T&uuml;rkiye arasında kişisel veri aktarımına ilişkin karşılıklılık durumu.</li>
        <li>b) Kişisel verilerin aktarılacağı &uuml;lkenin ilgili mevzuatı ve uygulaması ile kişisel verilerin aktarılacağı uluslararası kuruluşun t&acirc;bi olduğu kurallar.</li>
        <li>c) Kişisel verilerin aktarılacağı &uuml;lkede veya uluslararası kuruluşun t&acirc;bi olduğu bağımsız ve etkin bir veri koruma kurumunun varlığı ile idari ve adli başvuru yollarının bulunması.</li>
    </ol>
    <p>&ccedil;) Kişisel verilerin aktarılacağı &uuml;lkenin veya uluslararası kuruluşun, kişisel verilerin korunmasıyla ilgili uluslararası s&ouml;zleşmelere taraf veya uluslararası kuruluşlara &uuml;ye olma durumu.</p>
    <ol>
        <li>d) Kişisel verilerin aktarılacağı &uuml;lkenin veya uluslararası kuruluşun, T&uuml;rkiye&rsquo;nin &uuml;ye olduğu k&uuml;resel veya b&ouml;lgesel kuruluşlara &uuml;ye olma durumu.</li>
        <li>e) T&uuml;rkiye&rsquo;nin taraf olduğu uluslararası s&ouml;zleşmeler.</li>
    </ol>
    <p>(2) Kurul, birinci fıkrada belirtilenler dışında ek hususlar belirlemeye yetkilidir.</p>
    <p>(3) Kurul, yeterlilik kararıyla ilgili yapacağı değerlendirmede ihtiya&ccedil; duyması h&acirc;linde ilgili kurum ve kuruluşların g&ouml;r&uuml;ş&uuml;n&uuml; alır.</p>
    <p>(4) Kurul tarafından verilen yeterlilik kararları Resm&icirc; Gazete&rsquo;de ve Kurumun internet sitesinde yayımlanır.</p>
    <p><strong>Yeterlilik kararının g&ouml;zden ge&ccedil;irilmesi</strong></p>
    <p><strong>MADDE 9-&nbsp;</strong>(1) Yeterlilik kararı, en ge&ccedil; d&ouml;rt yılda bir yeniden değerlendirilir. İlgili yeterlilik kararında, yeniden değerlendirme d&ouml;nemleri a&ccedil;ık&ccedil;a belirlenir. Kurul, yeniden değerlendirme sonucunda ilgili &uuml;lkenin, &uuml;lke i&ccedil;erisindeki bir veya daha fazla sekt&ouml;r&uuml;n ya da uluslararası kuruluşun yeterli d&uuml;zeyde koruma sağlamadığını tespit etmesi h&acirc;linde kararını ileriye etkili olmak &uuml;zere değiştirebilir, askıya alabilir veya kaldırabilir.</p>
    <p>(2) Kurul, birinci fıkrada belirtilen yeniden değerlendirme d&ouml;nemi ile bağlı olmaksızın gerekli g&ouml;rd&uuml;ğ&uuml; takdirde, yeterlilik kararını g&ouml;zden ge&ccedil;irerek ileriye etkili olmak &uuml;zere değiştirebilir, askıya alabilir veya kaldırabilir.</p>
    <p>(3) Kurul, birinci veya ikinci fıkra uyarınca yeterlilik kararının değiştirilmesine, askıya alınmasına veya kaldırılmasına neden olan durumun d&uuml;zeltilmesi amacıyla ilgili &uuml;lke veya uluslararası kuruluşun yetkili makamlarıyla g&ouml;r&uuml;şebilir.</p>
    <p>(4) Yeterlilik kararının değiştirilmesine, askıya alınmasına veya kaldırılmasına ilişkin olarak verilen kararlar Resm&icirc; Gazete&rsquo;de ve Kurumun internet sitesinde yayımlanır.</p>
    <p><strong>Uygun g&uuml;vence sağlama yolları</strong></p>
    <p><strong>MADDE 10-&nbsp;</strong>(1) Kişisel veriler, yeterlilik kararının bulunmaması durumunda, Kanunun 5 inci ve 6&nbsp;ncı&nbsp;maddelerinde belirtilen şartlardan birinin varlığı, ilgili kişinin aktarımın yapılacağı &uuml;lkede de haklarını kullanma ve etkili kanun yollarına başvurma imk&acirc;nının bulunması kaydıyla, ancak aşağıda belirtilen uygun g&uuml;vencelerden birinin aktarım taraflarınca sağlanması h&acirc;linde yurt dışına aktarılabilir:</p>
    <ol>
        <li>a) Yurt dışındaki kamu kurum ve kuruluşları veya uluslararası kuruluşlar ile T&uuml;rkiye&rsquo;deki kamu kurum ve kuruluşları veya kamu kurumu niteliğindeki meslek kuruluşları arasında yapılan uluslararası s&ouml;zleşme niteliğinde olmayan anlaşmanın varlığı ve Kurul tarafından aktarıma izin verilmesi.</li>
        <li>b) Ortak ekonomik faaliyette bulunan teşebb&uuml;s grubu b&uuml;nyesindeki şirketlerin uymakla y&uuml;k&uuml;ml&uuml; oldukları, kişisel verilerin korunmasına ilişkin h&uuml;k&uuml;mler ihtiva eden ve Kurul tarafından onaylanan bağlayıcı şirket kurallarının varlığı.</li>
        <li>c) Kurul tarafından ilan edilen, veri kategorileri, veri aktarımının ama&ccedil;ları, alıcı ve alıcı grupları, veri alıcısı tarafından alınacak teknik ve idari tedbirler, &ouml;zel nitelikli kişisel veriler i&ccedil;in alınan ek &ouml;nlemler gibi hususları ihtiva eden standart s&ouml;zleşmenin varlığı.</li>
    </ol>
    <p>&ccedil;) Yeterli korumayı sağlayacak h&uuml;k&uuml;mlerin yer aldığı yazılı bir taahh&uuml;tnamenin varlığı ve Kurul tarafından aktarıma izin verilmesi.</p>
    <p><strong>Uluslararası s&ouml;zleşme niteliğinde olmayan anlaşmayla uygun g&uuml;vencenin sağlanması</strong></p>
    <p><strong>MADDE 11-&nbsp;</strong>(1) Uluslararası s&ouml;zleşme niteliğinde olmayan anlaşmada yer verilecek kişisel verilerin korunmasına y&ouml;nelik h&uuml;k&uuml;mler vasıtasıyla, T&uuml;rkiye&rsquo;deki kamu kurum ve kuruluşları ile kamu kurumu niteliğindeki meslek kuruluşları ve yabancı &uuml;lkedeki kamu kurum ve kuruluşları veya uluslararası kuruluşlar arasında yapılacak kişisel veri aktarımları bakımından uygun g&uuml;vence sağlanabilir. Anlaşma, kişisel veri aktarımının tarafları arasında akdedilir.</p>
    <p>(2) Anlaşmanın m&uuml;zakere s&uuml;recinde Kurulun g&ouml;r&uuml;ş&uuml;ne başvurulur.</p>
    <p>(3) Anlaşmada yer verilecek kişisel verilerin korunmasına y&ouml;nelik h&uuml;k&uuml;mler &ouml;zellikle aşağıdaki hususları i&ccedil;erir:</p>
    <ol>
        <li>a) Kişisel veri aktarımının amacı, kapsamı, niteliği ve hukuki sebebi.</li>
        <li>b) Kanun ve ilgili mevzuata uygun olarak temel kavramlara ilişkin tanımlar.</li>
        <li>c) Kanunun 4 &uuml;nc&uuml; maddesinde belirtilen genel ilkelere uyum sağlanacağına y&ouml;nelik taahh&uuml;t.</li>
    </ol>
    <p>&ccedil;) İlgili kişilerin anlaşma ve anlaşma kapsamında yapılacak kişisel veri aktarımı hakkında aydınlatılmasına ilişkin usul ve esaslar.</p>
    <ol>
        <li>d) Kişisel verileri aktarılan ilgili kişilerin Kanunun 11 inci maddesinde belirtilen haklarının kullandırılmasına y&ouml;nelik taahh&uuml;t ve bu hakların kullanımı amacıyla yapılacak başvuruya ilişkin usul ve esaslar.</li>
        <li>e) Uygun veri g&uuml;venliği d&uuml;zeyini temin etmeye y&ouml;nelik gerekli her t&uuml;rl&uuml; teknik ve idari tedbirlerin alınacağına y&ouml;nelik taahh&uuml;t.</li>
        <li>f) &Ouml;zel nitelikli kişisel verilerin aktarılması h&acirc;linde Kurul tarafından belirlenen yeterli &ouml;nlemlerin alınacağına y&ouml;nelik taahh&uuml;t.</li>
        <li>g) Kişisel verilerin sonraki aktarımına y&ouml;nelik kısıtlamalar.</li>
    </ol>
    <p>ğ) Anlaşmada yer verilecek kişisel verilerin korunmasına y&ouml;nelik h&uuml;k&uuml;mlerin ihlali h&acirc;linde ilgili kişinin başvurabileceği hak arama y&ouml;ntemleri.</p>
    <ol>
        <li>h) Anlaşmada yer verilecek kişisel verilerin korunmasına y&ouml;nelik h&uuml;k&uuml;mlerin uygulanmasına ilişkin denetim mekanizması.</li>
    </ol>
    <p>ı) Veri alıcısının, anlaşmada yer verilecek kişisel verilerin korunmasına y&ouml;nelik h&uuml;k&uuml;mlere uygunluk sağlayamaması h&acirc;linde veri aktaranın veri aktarımını askıya alma ve anlaşmayı feshetme hakkına sahip olacağına y&ouml;nelik d&uuml;zenleme.</p>
    <ol>
        <li>i) Veri alıcısının anlaşmanın feshedilmesi veya y&uuml;r&uuml;rl&uuml;k s&uuml;resinin sona ermesi h&acirc;linde, veri aktaranın tercihine bağlı olarak, aktarıma konu kişisel verileri yedekleri ile birlikte veri aktarana geri g&ouml;ndereceğine ya da kişisel verileri tamamen yok edeceğine y&ouml;nelik taahh&uuml;t.</li>
    </ol>
    <p>(4) Anlaşmaya dayanılarak kişisel verilerin yurt dışına aktarılabilmesi i&ccedil;in veri aktaran tarafından Kurula izin başvurusunda bulunulur. Yapılacak başvuru kapsamında anlaşma metninin nihai h&acirc;li ve Kurul tarafından yapılacak değerlendirme i&ccedil;in gerekli diğer bilgi ve belgeler Kurula sunulur. Kişisel veri aktarımına, Kurul tarafından izin verilmesinden sonra başlanır.</p>
    <p><strong>Bağlayıcı şirket kurallarıyla uygun g&uuml;vencenin sağlanması</strong></p>
    <p><strong>MADDE 12-&nbsp;</strong>(1) Ortak ekonomik faaliyette bulunan teşebb&uuml;s grubu b&uuml;nyesindeki şirketlerin uymakla y&uuml;k&uuml;ml&uuml; olduğu kişisel verilerin korunmasına y&ouml;nelik bağlayıcı şirket kuralları vasıtasıyla uygun g&uuml;vence sağlanabilir. Bağlayıcı şirket kurallarına dayanılarak kişisel verilerin yurt dışına aktarılabilmesi i&ccedil;in Kurula onay başvurusunda bulunulur.</p>
    <p>(2) Yapılacak başvuru kapsamında bağlayıcı şirket kuralları metni ve Kurul tarafından yapılacak değerlendirme i&ccedil;in gerekli diğer bilgi ve belgeler Kurula sunulur. Bağlayıcı şirket kurallarına ilişkin yapılacak başvuruda sunulan yabancı dildeki her belgenin noter onaylı &ccedil;evirisi başvuruya eklenir. Bağlayıcı şirket kuralları metninin yabancı dilde de d&uuml;zenlenmesi h&acirc;linde T&uuml;rk&ccedil;e metin esas alınır.</p>
    <p>(3) Kurul tarafından bağlayıcı şirket kuralları onaylanırken &ouml;zellikle aşağıdaki hususlar dikkate alınır:</p>
    <ol>
        <li>a) Bağlayıcı şirket kurallarının &ccedil;alışanları da d&acirc;hil olmak &uuml;zere ortak ekonomik faaliyette bulunan teşebb&uuml;s grubu b&uuml;nyesindeki ilgili her &uuml;ye bakımından hukuken bağlayıcı ve uygulanabilir olması.</li>
        <li>b) Bağlayıcı şirket kurallarında, ilgili kişi haklarının kullanılabileceğine dair taahh&uuml;tte bulunulması.</li>
        <li>c) Bağlayıcı şirket kurallarının asgari olarak 13 &uuml;nc&uuml; maddede belirtilen hususları i&ccedil;ermesi.</li>
    </ol>
    <p>(4) Kişisel veri aktarımına, bağlayıcı şirket kurallarının Kurul tarafından onaylanmasından sonra başlanır.</p>
    <p><strong>Bağlayıcı şirket kurallarında bulunması gereken hususlar</strong></p>
    <p><strong>MADDE 13-&nbsp;</strong>(1) Bağlayıcı şirket kuralları asgari olarak aşağıdaki hususları i&ccedil;erir:</p>
    <ol>
        <li>a) Ortak ekonomik faaliyette bulunan teşebb&uuml;s grubunun her &uuml;yesinin organizasyon yapısı ve irtibat bilgileri.</li>
        <li>b) Kişisel veri kategorileri, işleme faaliyeti ve ama&ccedil;ları, ilgili kişi grubu veya grupları ve aktarımın yapılacağı &uuml;lke veya &uuml;lkeler başta olmak &uuml;zere bağlayıcı şirket kuralları kapsamında ger&ccedil;ekleştirilecek aktarımlara ilişkin hususlar.</li>
        <li>c) Ortak ekonomik faaliyette bulunan teşebb&uuml;s grubunun hem i&ccedil; ilişkisinde hem de diğer hukuki ilişkilerinde bağlayıcı şirket kurallarının hukuken bağlayıcı olduğuna y&ouml;nelik taahh&uuml;t.</li>
    </ol>
    <p>&ccedil;) Kanunun 4 &uuml;nc&uuml; maddesinde belirtilen genel ilkelere uyum, kişisel verilerin işlenme şartları, &ouml;zel nitelikli kişisel verilerin işlenme şartları, veri g&uuml;venliğinin sağlanmasına y&ouml;nelik teknik ve idari tedbirler, &ouml;zel nitelikli kişisel verilerin işlenmesinde alınacak yeterli &ouml;nlemler ve kişisel verilerin sonraki aktarımına y&ouml;nelik kısıtlamalar gibi veri koruma &ouml;nlemleri.</p>
    <ol>
        <li>d) Kişisel verileri aktarılan ilgili kişilerin Kanunun 11 inci maddesinde belirtilen hakları ile Kanunun 14 &uuml;nc&uuml; maddesinde &ouml;ng&ouml;r&uuml;len usul ve esaslara uygun olarak Kurula şik&acirc;yette bulunma hakkının kullandırılmasına y&ouml;nelik taahh&uuml;t ve bu hakların kullanımına ilişkin usul ve esaslar.</li>
        <li>e) T&uuml;rkiye&rsquo;de yerleşik olmayan herhangi bir &uuml;ye tarafından bağlayıcı şirket kurallarının ihlalinde T&uuml;rkiye&rsquo;de yerleşik bir veri sorumlusu ve/veya veri işleyenin ihlalden sorumluluğu &uuml;stleneceğine dair taahh&uuml;t.</li>
        <li>f) Kanunun 10 uncu maddesi uyarınca aydınlatma y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; kapsamında ilgili kişilere bilgi verilen konulara ilave olarak (&ccedil;), (d) ve (e) bentlerinde belirtilenler başta olmak &uuml;zere bağlayıcı şirket kurallarına ilişkin hususlarda ilgili kişilere ne şekilde bilgi verileceğine ilişkin a&ccedil;ıklamalar.</li>
        <li>g) &Ccedil;alışanlara kişisel verilerin korunması konusunda verilecek eğitime ilişkin a&ccedil;ıklamalar.</li>
    </ol>
    <p>ğ) İlgili kişi başvurularının sonu&ccedil;landırılması faaliyetleri d&acirc;hil olmak &uuml;zere, teşebb&uuml;s grubunun bağlayıcı şirket kurallarına uyumunun takibinden sorumlu olan kişilerin veya birimlerin g&ouml;revleri.</p>
    <ol>
        <li>h) İlgili kişilerin haklarının korunmasına y&ouml;nelik d&uuml;zeltici faaliyetlerin sağlanmasına ilişkin veri koruma denetimleri ve y&ouml;ntemleri başta olmak &uuml;zere bağlayıcı şirket kurallarına uyumun teşebb&uuml;s grubu i&ccedil;inde denetlenmesi ve doğrulanmasına y&ouml;nelik mekanizmaları ve bunların sonu&ccedil;larının (ğ) bendinde belirtilen kişi veya birime ve ilgili teşebb&uuml;s grubu b&uuml;nyesindeki h&acirc;kim şirketin y&ouml;netim kuruluna ve talebi &uuml;zerine Kurula sunulacağına dair taahh&uuml;t.</li>
    </ol>
    <p>ı) Bağlayıcı şirket kurallarına ilişkin değişikliklerin raporlanması ve kaydedilmesi ile bu değişikliklerin Kurula bildirilmesine ilişkin mekanizmalar.</p>
    <ol>
        <li>i) (h) bendinde belirtilen denetim ve doğrulama faaliyetinin sonu&ccedil;larının sunulması başta olmak &uuml;zere teşebb&uuml;s grubunun &uuml;yeleri tarafından bağlayıcı şirket kurallarına uyumun sağlanması amacıyla Kurum ile iş birliği y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;.</li>
        <li>j) Bağlayıcı şirket kuralları kapsamında aktarılacak kişisel verilere ilişkin olarak, teşebb&uuml;s grubu &uuml;yelerinin aktarımın yapılacağı &uuml;lkede veya &uuml;lkelerde bağlayıcı şirket kurallarının sağladığı g&uuml;vencelere aykırı herhangi bir ulusal d&uuml;zenleme olmadığına dair taahh&uuml;t ve s&ouml;z konusu g&uuml;venceler &uuml;zerinde olumsuz bir etki yaratması muhtemel bir mevzuat değişikliği yapılması h&acirc;linde durumu Kurula bildirmeye y&ouml;nelik mekanizmalar.</li>
        <li>k) Kişisel verilere s&uuml;rekli veya d&uuml;zenli olarak erişimi bulunan personele y&ouml;nelik uygun veri koruma eğitimlerinin verileceğine dair taahh&uuml;t.</li>
    </ol>
    <p>(2) Kurul, birinci fıkrada belirtilenlere ilave hususlar belirlemeye yetkilidir. Bağlayıcı şirket kuralları başvurusunda kullanılacak belgeler Kurul tarafından belirlenir.</p>
    <p><strong>Standart s&ouml;zleşmeyle uygun g&uuml;vencenin sağlanması</strong></p>
    <p><strong>MADDE 14-&nbsp;</strong>(1) Veri kategorileri, veri aktarımının ama&ccedil;ları, alıcı ve alıcı grupları, veri alıcısı tarafından alınacak teknik ve idari tedbirler, &ouml;zel nitelikli kişisel veriler i&ccedil;in alınan ek &ouml;nlemler gibi hususları ihtiva eden standart s&ouml;zleşme vasıtasıyla uygun g&uuml;vence sağlanabilir.</p>
    <p>(2) Standart s&ouml;zleşme, Kurul tarafından belirlenerek ilan edilir.</p>
    <p>(3) Standart s&ouml;zleşme metninin, &uuml;zerinde herhangi bir değişiklik yapılmaksızın kullanılması zorunludur. Standart s&ouml;zleşmenin yabancı dilde de akdedilmesi h&acirc;linde T&uuml;rk&ccedil;e metin esas alınır.</p>
    <p>(4) Standart s&ouml;zleşme, kişisel veri aktarımının tarafları arasında akdedilir. Standart s&ouml;zleşmenin, aktarımın taraflarınca veya tarafları temsile ve imzaya yetkili kişilerce imzalanması zorunludur.</p>
    <p>(5) Standart s&ouml;zleşme, imzaların tamamlanmasından itibaren beş iş g&uuml;n&uuml; i&ccedil;inde fiziki olarak veya kayıtlı elektronik posta (KEP) adresi ya da Kurul tarafından belirlenen diğer y&ouml;ntemlerle Kuruma bildirilir. Aktarım tarafları standart s&ouml;zleşmede, bildirim y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n kimin tarafından yerine getirileceğini belirleyebilir. Eğer bu konuda bir belirleme yapılmamışsa standart s&ouml;zleşme veri aktaran tarafından Kuruma bildirilir.</p>
    <p>(6) Yapılacak bildirime, standart s&ouml;zleşmeyi imzalayanların yetkili olduğuna dair tevsik edici belgeler ile yabancı dildeki her belgenin noter onaylı &ccedil;evirisi eklenir.</p>
    <p>(7) Kurulca ilan edilen standart s&ouml;zleşme metninde değişiklik yapılması veya standart s&ouml;zleşmede aktarım taraflarından biri veya her ikisinin ge&ccedil;erli imzasının bulunmaması h&acirc;linde Kanunun 15 inci maddesi uyarınca Kurul tarafından inceleme yapılır.</p>
    <p>(8) Standart s&ouml;zleşme taraflarında veya standart s&ouml;zleşme i&ccedil;eriğinde taraflarca yer verilen bilgi ve a&ccedil;ıklamalarda bir değişiklik olması veya standart s&ouml;zleşmenin sona ermesi h&acirc;linde beşinci fıkrada belirtilen usule uygun olarak Kuruma bildirim yapılır.</p>
    <p><strong>Taahh&uuml;tnameyle uygun g&uuml;vencenin sağlanması</strong></p>
    <p><strong>MADDE 15-&nbsp;</strong>(1) Aktarım tarafları arasında akdedilecek yazılı bir taahh&uuml;tnamede yer verilecek kişisel verilerin korunmasına y&ouml;nelik h&uuml;k&uuml;mler vasıtasıyla uygun g&uuml;vence sağlanabilir.</p>
    <p>(2) Taahh&uuml;tnamede yer verilecek kişisel verilerin korunmasına y&ouml;nelik h&uuml;k&uuml;mler &ouml;zellikle aşağıdaki hususları i&ccedil;erir:</p>
    <ol>
        <li>a) Kişisel veri aktarımının amacı, kapsamı, niteliği ve hukuki sebebi.</li>
        <li>b) Kanun ve ilgili mevzuata uygun olarak temel kavramlara ilişkin tanımlar.</li>
        <li>c) Kanunun 4 &uuml;nc&uuml; maddesinde belirtilen genel ilkelere uyum sağlanacağına y&ouml;nelik taahh&uuml;t.</li>
    </ol>
    <p>&ccedil;) İlgili kişilerin taahh&uuml;tname ve taahh&uuml;tname kapsamında yapılacak kişisel veri aktarımı hakkında aydınlatılmasına ilişkin usul ve esaslar.</p>
    <ol>
        <li>d) Kişisel verileri aktarılan ilgili kişilerin Kanunun 11 inci maddesinde belirtilen haklarının kullandırılmasına y&ouml;nelik taahh&uuml;t ve bu hakların kullanımı amacıyla yapılacak başvuruya ilişkin usul ve esaslar.</li>
        <li>e) Uygun veri g&uuml;venliği d&uuml;zeyini temin etmeye y&ouml;nelik gerekli her t&uuml;rl&uuml; teknik ve idari tedbirlerin alınacağına y&ouml;nelik taahh&uuml;t.</li>
        <li>f) &Ouml;zel nitelikli kişisel verilerin aktarılması h&acirc;linde Kurul tarafından belirlenen yeterli &ouml;nlemlerin alınacağına y&ouml;nelik taahh&uuml;t.</li>
        <li>g) Kişisel verilerin sonraki aktarımına y&ouml;nelik kısıtlamalar.</li>
    </ol>
    <p>ğ) Taahh&uuml;tnamenin ihlali h&acirc;linde ilgili kişinin başvurabileceği hak arama y&ouml;ntemleri.</p>
    <ol>
        <li>h) Veri alıcısının aktarıma konu kişisel verilerin işlenmesi hususunda Kurulun karar ve g&ouml;r&uuml;şlerine uyacağına y&ouml;nelik taahh&uuml;t.</li>
    </ol>
    <p>ı) Veri alıcısının taahh&uuml;tnameye uygunluk sağlayamamasına neden olacak ulusal d&uuml;zenlemenin bulunmadığına ve buna yol a&ccedil;abilecek muhtemel bir mevzuat değişikliğini veri aktarana en kısa s&uuml;rede bildireceğine dair taahh&uuml;t ile bu durumda veri aktaranın veri aktarımını askıya alma ve taahh&uuml;tnameyi feshetme hakkına sahip olacağına y&ouml;nelik d&uuml;zenleme.</p>
    <ol>
        <li>i) Veri alıcısının taahh&uuml;tnameye uygunluk sağlayamaması h&acirc;linde veri aktaranın veri aktarımını askıya alma ve taahh&uuml;tnameyi feshetme hakkına sahip olacağına y&ouml;nelik d&uuml;zenleme.</li>
        <li>j) Veri alıcısının taahh&uuml;tnamenin feshedilmesi veya y&uuml;r&uuml;rl&uuml;k s&uuml;resinin sona ermesi h&acirc;linde, veri aktaranın tercihine bağlı olarak, aktarıma konu kişisel verileri yedekleri ile birlikte veri aktarana geri g&ouml;ndereceğine ya da kişisel verileri tamamen yok edeceğine y&ouml;nelik taahh&uuml;t.</li>
        <li>k) Taahh&uuml;tnamenin T&uuml;rk hukukuna tabi olduğuna ve bir uyuşmazlık h&acirc;linde T&uuml;rk mahkemelerinin g&ouml;revli ve yetkili olduğuna y&ouml;nelik d&uuml;zenleme ile veri alıcısının T&uuml;rk mahkemelerinin yargı yetkisini tanımayı kabul ettiğine y&ouml;nelik taahh&uuml;t.</li>
    </ol>
    <p>(3) Taahh&uuml;tnameye dayanılarak kişisel verilerin yurt dışına aktarılabilmesi i&ccedil;in veri aktaran tarafından Kurula izin başvurusunda bulunulur. Yapılacak başvuru kapsamında taahh&uuml;tname metni ve Kurul tarafından yapılacak değerlendirme i&ccedil;in gerekli diğer bilgi ve belgeler Kurula sunulur. Taahh&uuml;tnamenin yabancı dilde de akdedilmesi h&acirc;linde T&uuml;rk&ccedil;e metin esas alınır. Kişisel veri aktarımına, Kurul tarafından izin verilmesinden sonra başlanır.</p>
    <p><strong>BEŞİNCİ B&Ouml;L&Uuml;M</strong></p>
    <p><strong>İstisnai Aktarımlar</strong></p>
    <p><strong>İstisnai aktarım h&acirc;lleri</strong></p>
    <p><strong>MADDE 16-&nbsp;</strong>(1) Kişisel veriler, yeterlilik kararının bulunmaması ve 10 uncu maddede &ouml;ng&ouml;r&uuml;len uygun g&uuml;vencelerden herhangi birinin sağlanamaması durumunda, arızi olmak kaydıyla sadece ikinci fıkrada belirtilen istisnai aktarım h&acirc;llerinden birinin varlığı h&acirc;linde yurt dışına aktarılabilir. D&uuml;zenli olmayan, tek veya birka&ccedil; sefer ger&ccedil;ekleşen, s&uuml;reklilik arz etmeyen ve olağan faaliyet akışı i&ccedil;inde bulunmayan aktarımlar arızi niteliktedir.</p>
    <p>(2) İstisnai aktarım h&acirc;lleri şunlardır:</p>
    <ol>
        <li>a) İlgili kişinin, muhtemel riskler hakkında bilgilendirilmesi kaydıyla, aktarıma a&ccedil;ık rıza vermesi.</li>
        <li>b) Aktarımın, ilgili kişi ile veri sorumlusu arasındaki bir s&ouml;zleşmenin ifası veya ilgili kişinin talebi &uuml;zerine alınan s&ouml;zleşme &ouml;ncesi tedbirlerin uygulanması i&ccedil;in zorunlu olması.</li>
        <li>c) Aktarımın, ilgili kişi yararına veri sorumlusu ve diğer bir ger&ccedil;ek veya t&uuml;zel kişi arasında yapılacak bir s&ouml;zleşmenin kurulması veya ifası i&ccedil;in zorunlu olması.</li>
    </ol>
    <p>&ccedil;) Aktarımın &uuml;st&uuml;n bir kamu yararı i&ccedil;in zorunlu olması.</p>
    <ol>
        <li>d) Bir hakkın tesisi, kullanılması veya korunması i&ccedil;in kişisel verilerin aktarılmasının zorunlu olması.</li>
        <li>e) Fiili imk&acirc;nsızlık nedeniyle rızasını a&ccedil;ıklayamayacak durumda bulunan veya rızasına hukuki ge&ccedil;erlilik tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden b&uuml;t&uuml;nl&uuml;ğ&uuml;n&uuml;n korunması i&ccedil;in kişisel verilerin aktarılmasının zorunlu olması.</li>
        <li>f) Kamuya veya meşru menfaati bulunan kişilere a&ccedil;ık olan bir sicilden, ilgili mevzuatta sicile erişmek i&ccedil;in gereken şartların sağlanması ve meşru menfaati olan kişinin talep etmesi kaydıyla aktarım yapılması.</li>
    </ol>
    <p>(3) İkinci fıkranın (f) bendi uyarınca yapılacak aktarımlarda aşağıdaki usul ve esaslara uyulur:</p>
    <ol>
        <li>a) Aktarım, sicillerde yer alan kişisel verilerin veya kişisel veri kategorilerinin tamamını i&ccedil;erecek şekilde ger&ccedil;ekleştirilemez.</li>
        <li>b) Meşru menfaati bulunan kişilerin erişimine a&ccedil;ık sicillerden yapılacak aktarımlar yalnızca bu kişilere veya bu kişilerin talebi &uuml;zerine ger&ccedil;ekleştirilebilir.</li>
    </ol>
    <p>(4) İkinci fıkranın (a), (b) ve (c) bentleri, kamu kurum ve kuruluşlarının kamu hukukuna t&acirc;bi faaliyetlerine uygulanmaz.</p>
    <p><strong>Teredd&uuml;tlerin giderilmesi</strong></p>
    <p><strong>MADDE 17-&nbsp;</strong>(1) Bu Y&ouml;netmeliğin uygulanması sırasında doğacak teredd&uuml;tleri gidermeye ve bu Y&ouml;netmelikte yer almayan konularda, ilgili mevzuat h&uuml;k&uuml;mleri &ccedil;er&ccedil;evesinde karar vermeye Kurul yetkilidir.</p>
    <p><strong>Y&uuml;r&uuml;rl&uuml;k</strong></p>
    <p><strong>MADDE 18-&nbsp;</strong>(1) Bu Y&ouml;netmelik yayımı tarihinde y&uuml;r&uuml;rl&uuml;ğe girer.</p>
    <p><strong>Y&uuml;r&uuml;tme</strong></p>
    <p><strong>MADDE 19-&nbsp;</strong>(1) Bu Y&ouml;netmelik h&uuml;k&uuml;mlerini Kişisel Verileri Koruma Kurumu Başkanı y&uuml;r&uuml;t&uuml;r.</p>
    <p style="text-align: left;">&nbsp;</p>
    <!-- Comments are visible in the HTML source only -->
</div>