@model CobanlarMarket.Models.AllViewModel

@{
    ViewBag.Title = "Mesafeli Satış Sözleşmesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
    .containerr {
        display: grid;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

        .containerr h2 {
            text-align: center;
        }
</style>

<div class="containerr container">
    <h2>Mesafeli Satış Sözleşmesi</h2>


    <p>MADDE 1 &ndash; TARAFLAR</p>
    <p>1.1 &ndash; SATICI &Uuml;nvanı :</p>
    <p>&Ccedil;OBAN GIDA MADDELERİ TİCARET LİMİTED ŞİRKETİ Adresi :</p>
    <p>MERKEZ MAH. ATAT&Uuml;RK CAD. NO: 17 İ&Ccedil; KAPI NO: 2 MA&Ccedil;KA/ TRABZON Eposta adresi :&nbsp;onechocolateofficial@gmail.com</p>
    <p>1.2 &ndash; ALICI</p>
    <p>M&uuml;şteri olarak cobanlarmarket.com alışveriş sitesine &uuml;ye olan kişi.</p>
    <p>&Uuml;ye olurken kullanılan adres ve iletişim bilgileri esas alınır.</p>
    <p>&nbsp;</p>
    <p>MADDE 2 &ndash; KONU</p>
    <p>İşbu s&ouml;zleşmenin konusu, ALICI&rsquo;nın SATICI&rsquo;ya ait cobanlarmarket.com internet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen &uuml;r&uuml;n&uuml;n satışı ve teslimi ile ilgili olarak 6502 sayılı T&uuml;keticilerin Korunması Hakkındaki Kanun ve Mesafeli S&ouml;zleşmeler Uygulama Esas ve Usulleri Hakkında Y&ouml;netmelik h&uuml;k&uuml;mleri gereğince tarafların hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerinin saptanmasıdır.</p>
    <p>&nbsp;</p>
    <p>MADDE 3 &ndash; S&Ouml;ZLEŞME KONUSU &Uuml;R&Uuml;N</p>
    <p>Malın/ &Uuml;r&uuml;n&uuml;n / Hizmetin t&uuml;r&uuml;, miktarı, marka/modeli, rengi, adedi, satış bedeli, &ouml;deme şekli, siparişin sonlandığı andaki bilgilerden oluşmaktadır</p>
    <p>&nbsp;</p>
    <p>MADDE 4 &ndash; GENEL H&Uuml;K&Uuml;MLER</p>
    <p>4.1 ALICI, cobanlarmarket.com internet sitesinde s&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n temel nitelikleri, t&uuml;m vergiler dahil satış fiyatı ve &ouml;deme şekli ile teslimata ve bunun masraflarının ALICI tarafından karşılanacağına, teslimatın ger&ccedil;ekleştirileceği s&uuml;reye ve SATICI&rsquo;nın tam ticari unvanı, a&ccedil;ık adresi ve iletişim bilgilerine ilişkin &ouml;n bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.</p>
    <p>ALICI; bu s&ouml;zleşmeyi elektronik ortamda teyit etmekle, mesafeli s&ouml;zleşmelerin akdinden &ouml;nce, Satıcı tarafından T&uuml;ketici&rsquo;ye verilmesi gereken adres, siparişi verilen &uuml;r&uuml;nlere ait temel &ouml;zellikler, &uuml;r&uuml;nlerin vergiler dahil fiyatı, &ouml;deme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini teyid etmiş olur.</p>
    <p>4.2 S&ouml;zleşme konusu &uuml;r&uuml;n, yasal 30 g&uuml;nl&uuml;k s&uuml;reyi aşmamak koşulu ile her bir &uuml;r&uuml;n i&ccedil;in ALICI&rsquo;nın yerleşim yerinin uzaklığına bağlı olarak internet sitesinde &ouml;n bilgiler i&ccedil;inde a&ccedil;ıklanan s&uuml;re i&ccedil;inde ALICI veya g&ouml;sterdiği adresteki kişi/kuruluşa teslim edilir.</p>
    <p>4.3 S&ouml;zleşme konusu &uuml;r&uuml;n, ALICI&rsquo;dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.</p>
    <p>4.4 Kargo firmasının, &uuml;r&uuml;n&uuml; ALICI&rsquo;ya teslimi aşamasında karşılaşacağı her t&uuml;rl&uuml; sorun nedeniyle, siparişi verilen &uuml;r&uuml;n&uuml;n ALICI&rsquo;ya teslim edilememesinden dolayı SATICI sorumlu tutulamaz.</p>
    <p>4.5 SATICI, s&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile teslim edilmesinden sorumludur.</p>
    <p>4.6 SATICI, haklı bir sebebe dayanmak şartıyla, s&ouml;zleşmeden doğan ifa y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n s&uuml;resi dolmadan ALICI&rsquo;ya eşit kalite ve fiyatta farklı bir &uuml;r&uuml;n tedarik edebilir.</p>
    <p>4.7 SATICI, sipariş konusu &uuml;r&uuml;n veya hizmetin yerine getirilmesinin imkansızlaşması halinde s&ouml;zleşme konusu y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getiremezse, bu durumu, s&ouml;zleşmeden doğan ifa y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n s&uuml;resi dolmadan t&uuml;keticiye bildirir ve ALICI&rsquo;ya eşit kalite ve fiyatta farklı bir &uuml;r&uuml;n tedarik edebilir.</p>
    <p>4.8 S&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n teslimatı i&ccedil;in işbu s&ouml;zleşmenin imzalı n&uuml;shasının SATICI&rsquo;ya ulaştırılmış olması ve bedelinin ALICI&rsquo;nın tercih ettiği &ouml;deme şekli ile &ouml;denmiş olması şarttır. Herhangi bir nedenle &uuml;r&uuml;n bedeli &ouml;denmez veya banka kayıtlarında iptal edilir ise, SATICI &uuml;r&uuml;n&uuml;n teslimi y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;nden kurtulmuş kabul edilir.</p>
    <p>4.9 ALICI alışveriş esnasında sisteme tanımladığı kredi kartı bilgilerinin doğru olduğunu, bu kredi kartının kullanımından dolayı kaynaklanacak her t&uuml;rl&uuml; hukuki ve cezai yasal sorumluluğunun kendisinde olduğunu kabul ve taahh&uuml;t eder. &Uuml;r&uuml;n&uuml;n tesliminden sonra ALICI&rsquo;ya ait kredi kartının ALICI&rsquo;nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşun &uuml;r&uuml;n bedelini SATICI&rsquo;ya &ouml;dememesi halinde, ALICI&rsquo;nın kendisine teslim edilmiş olması kaydıyla &uuml;r&uuml;n&uuml;n 3 g&uuml;n i&ccedil;inde SATICI&rsquo;ya g&ouml;nderilmesi zorunludur. Bu takdirde nakliye giderleri ALICI&rsquo;ya aittir. Eğer ALICI &uuml;r&uuml;n&uuml; geri g&ouml;ndermezse kredi kartından herhangi bir nedenle &uuml;r&uuml;n bedelinin alınmaması veya &uuml;r&uuml;n bedelinin kredi kartına iade edilmesi durumlarında &uuml;r&uuml;n bedelinin hi&ccedil;bir ihtara gerek kalmaksızın SATICI banka hesaplarına havale edileceğini kabul ve taahh&uuml;t eder.</p>
    <p>4.10 SATICI m&uuml;cbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağan&uuml;st&uuml; durumlar nedeni ile s&ouml;zleşme konusu &uuml;r&uuml;n&uuml; s&uuml;resi i&ccedil;inde teslim edemez ise, durumu ALICI&rsquo;ya bildirmekle y&uuml;k&uuml;ml&uuml;d&uuml;r. Bu takdirde ALICI siparişin iptal edilmesini, s&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n varsa emsali ile değiştirilmesini, ve/veya teslimat s&uuml;resinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI&rsquo;nın siparişi iptal etmesi halinde &ouml;dediği tutar 10 g&uuml;n i&ccedil;inde kendisine nakden ve defaten &ouml;denir.</p>
    <p>&nbsp;4.11 SATICI tarafından bir kampanya aracılığı ile m&uuml;şteriye verilen puanlar sadece bir alışveriş i&ccedil;in ge&ccedil;erlidir. Bu puanlar &uuml;r&uuml;n iade edilse bile geri iade edilmez.</p>
    <p>ALICI&rsquo;nın kredi kartı ile yaptığı &ouml;demelerde ise, &uuml;r&uuml;n tutarı, siparişin ALICI tarafından iptal edilmesinden sonra 7 g&uuml;n i&ccedil;erisinde ilgili bankaya iade edilir. Bu tutarın bankaya iadesinden sonra ALICI hesaplarına yansıması tamamen banka işlem s&uuml;reci ile ilgili olduğundan, ALICI, olası gecikmeler i&ccedil;in SATICI&rsquo;nın herhangi bir şekilde m&uuml;dahalede bulunmasının m&uuml;mk&uuml;n olamayacağını ve SATICI tarafından kredi kartına iade edilen tutarın banka tarafından ALICI hesabına yansıtılmasının ortalama 2 ile 3 haftayı bulabileceğini şimdiden kabul etmektedir.</p>
    <p>&nbsp;</p>
    <p>MADDE 5 &ndash; CAYMA HAKKI ALICI</p>
    <p>S&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n kendisine veya g&ouml;sterdiği adresteki kişi/kuruluşa tesliminden itibaren 14 g&uuml;n i&ccedil;inde hi&ccedil;bir sebep g&ouml;stermek zorunda olmaksızın cayma hakkına sahiptir.</p>
    <p>Ancak, yılbaşı, bayramlar, anneler g&uuml;n&uuml; gibi belirli g&uuml;nlere y&ouml;nelik ALICI&rsquo;ya &ouml;zel olarak hazırlanan, satışa sunulan ve/veya ithal edilen &uuml;r&uuml;nlerde, kampanya ve promosyon &uuml;r&uuml;nlerinde &uuml;r&uuml;n&uuml;n iadesi alınamamakta; ALICI bu şartları kabul ederek alışverişini ger&ccedil;ekleştirmektedir.</p>
    <p>Cayma hakkının kullanılması i&ccedil;in 14 g&uuml;nl&uuml;k s&uuml;re i&ccedil;inde SATICI&rsquo;ya faks veya eposta ile bildirimde bulunulması ve &uuml;r&uuml;n&uuml;n 6. madde h&uuml;k&uuml;mleri &ccedil;er&ccedil;evesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde,</p>
    <ol start="3">
        <li>a) 3. kişiye veya ALICI&rsquo;ya teslim edilen &uuml;r&uuml;n&uuml;n faturası, (İade edilmek istenen &uuml;r&uuml;n&uuml;n faturası kurumsal ise, iade ederken kurumun d&uuml;zenlemiş olduğu iade faturası ile birlikte g&ouml;nderilmesi gerekmektedir. Faturası kurumlar adına d&uuml;zenlenen sipariş iadeleri İADE FATURASI kesilmediği takdirde tamamlanamayacaktır)</li>
        <li>b) İade formu,</li>
        <li>c) 14 g&uuml;nl&uuml;k s&uuml;re i&ccedil;erisinde iade edilecek &uuml;r&uuml;nlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir. Bu belgelerin SATICI&rsquo;ya ulaşmasını takip eden 10 g&uuml;n i&ccedil;inde &uuml;r&uuml;n bedeli ALICI&rsquo;ya iade edilir.</li>
    </ol>
    <p>Cayma hakkı nedeniyle iade edilen &uuml;r&uuml;n&uuml;n kargo bedeli yurti&ccedil;i siparişlerinde SATICI tarafından yurtdışı siparişlerinde ALICI tarafından karşılanacaktır. SATICI &uuml;r&uuml;n satarken ALICI&rsquo;dan tahsil ettiği kargo &uuml;cretini iade etmez.</p>
    <p>&Uuml;r&uuml;n SATICI&rsquo;ya iade edilirken, &uuml;r&uuml;n&uuml;n teslimi sırasında ALICI&rsquo;ya ibraz edilmiş olan orijinal faturanın da (muhasebe kayıtlarımızda tutarlılığı sağlamak amacıyla) iade edilmesi gerekmekte olup faturanın &uuml;r&uuml;nle birlikte ya da en ge&ccedil; &uuml;r&uuml;n&uuml;n g&ouml;nderilmesinden itibaren 5 g&uuml;n i&ccedil;erisinde SATICI&rsquo;ya g&ouml;nderilmemesi durumunda iade işlemi ger&ccedil;ekleştirilmeyecek, &uuml;r&uuml;n aynı şekilde karşı &ouml;demeli olarak ALICI&rsquo;ya geri g&ouml;nderilecektir. &Uuml;r&uuml;nle beraber iade edilecek olan faturanın &uuml;zerine de &ldquo;iade faturasıdır&rdquo; ibaresi yazılıp ALICI tarafından imzalanacaktır.</p>
    <p>&nbsp;</p>
    <p>MADDE 6 &ndash; CAYMA HAKKI KULLANILAMAYACAK &Uuml;R&Uuml;NLER</p>
    <p>Niteliği itibarıyla; tek kullanımlık &uuml;r&uuml;nler, kopyalanabilir yazılım ve programlar, hızlı bozulan veya son kullanım tarihi ge&ccedil;me ihtimali olan &uuml;r&uuml;nlerin iadesi kabul edilmemektedir.</p>
    <p>&nbsp;</p>
    <p>MADDE 7 &ndash; BOR&Ccedil;LUNUN TEMERR&Uuml;D&Uuml;</p>
    <p>ALICI&rsquo;nın temerr&uuml;de d&uuml;şmesi halinde, ALICI, borcun gecikmeli ifasından dolayı SATICI&rsquo;nın oluşan zarar ve ziyanını &ouml;demeyi kabul eder. ALICI&rsquo;nın temerr&uuml;d&uuml;n&uuml;n SATICI&rsquo;nın kusurundan kaynaklandığı hallerde ALICI herhangi bir zarar ve ziyan talebini karşılamak mecburiyetinde olmayacaktır.</p>
    <p>&nbsp;</p>
    <p>MADDE 8 &ndash; YETKİLİ MAHKEME</p>
    <p>İşbu &Ouml;n Bilgilendirmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar ALICI&rsquo;nın mal veya hizmeti satın aldığı ve ikametgahının bulunduğu yerdeki T&uuml;ketici Hakem Heyetleri ile T&uuml;ketici Mahkemeleri yetkilidir. SATICI şik&acirc;yet ve itirazları konusunda başvurularını, T.C. Sanayi Ve Ticaret Bakanlığı tarafından her yıl Aralık ayında belirlenen parasal sınırlar d&acirc;hilinde mal veya hizmeti satın aldığı veya ikametg&acirc;hının bulunduğu yerdeki t&uuml;ketici sorunları hakem heyetine veya t&uuml;ketici mahkemesine yapabilir. Parasal sınıra ilişkin bilgiler aşağıdadır:</p>
    <p>28/05/2014 tarihinden itibaren ge&ccedil;erli olmak &uuml;zere;</p>
    <ol>
        <li>a) 6502 sayılı T&uuml;keticinin Korunması Hakkında Kanun&rsquo;nun 68 inci maddesi gereği Değeri iki bin T&uuml;rk Lirasının altında bulunan uyuşmazlıklarda il&ccedil;e t&uuml;ketici hakem heyetlerine, &uuml;&ccedil; bin T&uuml;rk Lirasının altında bulunan uyuşmazlıklarda il t&uuml;ketici hakem heyetlerine, b&uuml;y&uuml;kşehir stat&uuml;s&uuml;nde bulunan illerde ise iki bin T&uuml;rk Lirası ile &uuml;&ccedil; bin T&uuml;rk Lirası arasındaki uyuşmazlıklarda il t&uuml;ketici hakem heyetlerine başvuru zorunludur.Bu değerlerin &uuml;zerindeki uyuşmazlıklar i&ccedil;in t&uuml;ketici hakem heyetlerine başvuru yapılamaz.</li>
        <li>b) Belirtilen değer &uuml;zerinde olan uyuşmazlıklarda T&uuml;ketici Mahkemesinde, T&uuml;ketici Mahkemesinin bulunmadığı yerlerde ise T&uuml;ketici Mahkemesi sıfatıyla Asliye Hukuk Mahkemelerine başvurunun yapılması gerekmektedir.</li>
    </ol>
    <p>İşbu &ouml;nbilgilendirme ticari ama&ccedil;la yapılmaktadır.</p>
    <p style="text-align: left;">L&uuml;tfen Dikkat: Kargo tutanağını imzalamadan &ouml;nce kargo paketinizin taşımadan dolayı hasarlı olup olmadığını l&uuml;tfen kontrol ediniz. Kargo paketinizde herhangi bir nedenle hasar var ise teslimatla ilgili hi&ccedil; bir belgeyi imzalamadan kargo yetkilisine tutanak tutulması i&ccedil;in kargonuzu iade ediniz. Size tarafımızdan yeni &uuml;r&uuml;nleriniz derhal g&ouml;nderilecektir. Kargo paketi hasarlı olan &uuml;r&uuml;nlerin teslim alınması durumunda i&ccedil;indeki &uuml;r&uuml;nlerin hasarından veya eksikliğinden onechocolate.com.tr&nbsp;sorumlu değildir.</p>

</div>