
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(TempData["Iyzico"])

<link href="~/Content/css/payment.css" rel="stylesheet" />


<div class="container cf-parent" style="text-align:center;align-content:center; min-height:700px;" >


    <div id="iyzipay-checkout-form" class="responsive">




    </div>

</div>


<script>
    const element = document.getElementById('iyzipay-checkout-form');
    const spinner = document.getElementById('spinner');
    setInterval(() => {
        if (element.innerHTML.trim() !== '') {
            spinner.remove();
        }
    }, 100);
</script>